<app-navbar></app-navbar>
<div class="container">

    <div class="row">

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3 mt-3">

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xl-12 col-xxl-12 text-center">

                    <br><h2>Friend App</h2>
                    

                    </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label">Name</label>

                    <input name="name" [(ngModel)]="name" type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for=""  class="form-label">Friend Name</label>

                    <input name="friendName" [(ngModel)]="friendName" type="text" class="form-control">

                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label">Description Your Friend</label>

                    <textarea name="DescribeYourFriend" [(ngModel)]="DescribeYourFriend" id=""  rows="5" class="form-control"></textarea>

                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label">Friend Nick Name</label>

                    <input name="friendNickName" [(ngModel)]="friendNickName" type="text" class="form-control">


                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">

                    <button (click)="readValues()" class="btn btn-success">Submit</button>



                </div>

            </div>

        </div>

    </div>

   </div>
