<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Name</label>
                    <input name="name" [(ngModel)]="name" type="text" class="form-control">
                    <button (click)="readValues()" class="btn btn-outline-primary" type="submit">Search</button>
    
                </div>
            </div>

        </div>
    </div>
</div>
